<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student DB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/css/all.min.css"/>

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    
    <%- body %>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    

    <script>
        $('.soro_data_table').DataTable();

        //delete student confirmation message
        const deletebtn = document.querySelectorAll('.delete-btn');
        if(deletebtn){
            deletebtn.forEach(item => {
            item.onclick = (e) => {
                const conf = confirm('Are You Sure');
                if(conf){
                    return true;
                }else {
                    return false;
                }
            }
        });
        }
        

        //preview student image
        const studentImage = document.querySelector('#upload_student_photo');
        const studentImageTag = document.querySelector('.student_preview');

        if( studentImage ){
            studentImage.onchange = (e) => {
            const imageLink = URL.createObjectURL(e.target.files[0]);
            studentImageTag.setAttribute('src', imageLink);
            }
        }

    </script>
</body>
</html>